html {
    height: 100%;
    width: auto;
    overflow-x: hidden;
}

body {
    background: url("https://patchwiki.biligame.com/images/sr/0/08/f92wbdglbb4s50y8q32mvmsd1xiqt6m.png");
    background-size: auto 100%;
    background-position: center;
}

h4 {
    color: rgb(255, 70, 70);
}

.box {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(74, 74, 74, 0.971);
}

.note {
    color: red;
}

table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
.table-title,
.table-title td{
    background-color: rgb(46, 46, 46);
}

th,td{
    background-color:darkgray;
    border: 1px solid #999;
    text-align: center;
    padding: 5px 0px;
}
